body {
  background-image: url(img/stars_bg.jpg);
  background-repeat: repeat;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}
header {
  background-color: #000000;
  margin-bottom: 1px;
}
header #logo {
  width: 260px;
  margin-top: 15px;
}
header ul {
  text-align: center;
}
.hero img {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}
main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
main p {
  font-family: 'Roboto', sans-serif;
  padding: 5px 15px 5px 15px;
  line-height: 1.5em;
  background-color: #FFFFFF;
}
main section h2 {
  font-family: 'Press Start 2P', cursive;
  color: #000000;
  text-align: center;
  padding: 7px;
  padding-top: 17px;
  background-color: #FFFFFF;
}
main section h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding-bottom: 20px;
}
main section h4 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25em;
}
main section div {
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
main section div iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
main section ul {
  color: #B73509;
  font-size: 1.5em;
  text-align: center;
  text-decoration-line: underline;
  padding-bottom: 20px;
}
main section ul li {
  padding: 15px;
}
main .lists p {
  text-align: center;
  padding-bottom: 20px;
}
main .intro {
  background-color: #FFFFFF;
  color: #000000;
}
main .wrapper {
  background-color: #FFFFFF;
}
main .whereToBuy {
  background-color: #FFFFFF;
}
footer {
  background-color: #000000;
  clear: both;
}
footer p {
  color: #FFFFFF;
  text-align: center;
  padding: 15px;
}
footer .item a {
  color: #FFFFFF;
}
footer .item ul a {
  color: #FFFFFF;
}
footer .item-2 {
  margin: auto;
}
footer .item-2 ul li {
  text-align: center;
  padding: 5px;
  color: #FFFFFF;
}
footer .item-3 {
  justify-content: center;
  display: flex;
  align-items: center;
}
#rainbow {
  background-image: url(img/RGB.jpg);
  background-repeat: repeat-x;
  max-width: 100%;
  height: 7px;
  position: relative;
}
.feed {
  display: none;
}
@media only screen and (min-width: 720px) {
  .content {
    background-color: #FFFFFF;
    clear: both;
  }
  .content .feed {
    padding-top: 15px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    float: right;
    display: block;
    width: 20%;
    height: 565px;
    background-color: #FFFFFF;
  }
  .videoEmbedSection {
    float: left;
    width: 80%;
  }
  .item {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
